# vslog vscache
*.log
*.tlog
*.cache
*.def

BSPDSource/BSPDTest/obj/
BSPDSource/BSPDTest/bin/
BSPDSource/BSPDTest/Debug/
BSPDSource/BSPDTest/x64/
BSPDSource/BSPD/Debug/
BSPDSource/BSPD/x64/
BSPDSource/.vs/
.vscode/
ThirdPartyLibs/

BSPDSource/BSPD/build/

Android/BSPD/.idea/
Android/BSPD/*.iml
Android/BSPD/*.log
Android/BSPD/proguard/
Android/BSPD/local.properties
Android/BSPD/.gradle/
Android/BSPD/build/
Android/BSPD/bin/
Android/BSPD/gen/
Android/BSPD/*.class
Android/BSPD/*.dex
Android/BSPD/*.apk
*.jar

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
